# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
This notebook provide intro for  data science 

* popular languages for data science
* commonly used libraries for data science
* data science tools
* sample codes

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. seabor
4. Scikit-learn 
5. TensorFlow
6. PyTorch
7. Keras
8. Panda

| Data Science Tools |
| ----- |
| Jupyter Notebook |
| Apache Spark |
| TensorFlow |
| Julia |
| RStudio |


### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#  This a simple arithmetic expression to mutiply then add integers

17

In [4]:
total_min =200
min_per_hour = 60
total_min/min_per_hour 
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author 
Yu-Hui Ivy Huang

[GitHub repo link](https://github.com/ivyhuangyh/DataScienceEcosystem_noteBook)